# alias tree="ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/ /' -e 's/-/|/'"
alias ll="ls -la"
alias ls="ls -aG"

# Open Chrome in promiscuous mode
alias ogc='open -a Google\ Chrome --args --allow-file-access-from-files --disable-web-security'

sortjson() {
    python -c "import sys; import json; print(json.dumps(json.load(sys.stdin), sort_keys=True, indent=2))"
}

alias haltall="vagrant global-status | grep running | awk '{ print $1 }' | xargs -I % vagrant halt %"

upyet() {
    # first line shows errors
    ping -c 1 $1 > /dev/null
    sleep 1s
    while :; do
        # No errors
        if ping -c 1 $1 > /dev/null 2>&1; then
            # ding!
            tput bel
            echo "$1 online"
            break
        else
            # Show progress
            echo -n "."
        fi
        sleep 2s
    done
}

alias docker-init="source /Applications/Docker/Docker\ Quickstart\ Terminal.app/Contents/Resources/Scripts/start.sh"

alias clear_dns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Install with pip then show installed version
pipi() {
    pip install $1 && pip freeze | grep $1
}

myip() {
    ifconfig en0 | head -n 4 | tail -n 1 | awk '{print $2;exit}'
}
