# alias tree="ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/ /' -e 's/-/|/'"
alias ll="ls -la"
alias ls="ls -aG"

# Open Chrome in promiscuous mode
alias ogc='open -a Google\ Chrome --args --allow-file-access-from-files --disable-web-security'

sortjson() {
    python -c "import sys; import json; print(json.dumps(json.load(sys.stdin), sort_keys=True, indent=2))"
}

alias haltall="vagrant global-status | grep running | awk '{ print $1 }' | xargs -I % vagrant halt %"